{include '../../common/headers.latte'}
<div class="paymentcon">
    <h1>Payments</h1>

    <table class="paymentcos_form">
        <thead>
        <tr>
            <th>Transaction Id</th>
            <th>Total Cost</th>
        </tr>
        </thead>
        <tbody>
        {foreach $payments as $payment}
            <tr>
                <td>TXN-{$payment->id}</td>
                <td>Rs. {$payment->totalCost}</td>
            </tr>
        {/foreach}
    </table>
</div>