
{include '../../common/headers.latte'}

<body>
<div class="stat_prod_detail">
<h1>Product Details Statistics</h1>
<table class="prod-stat-table">
    <tr>
        <th>Title</th>
        <th>Available</th>
        <th>Sold</th>
        <th>Damaged</th>
    </tr>
    <tr>
        <td>{$statistics->title}</td>
        <td>{$statistics->available}</td>
        <td>{$statistics->sold}</td>
        <td>{$statistics->damaged}</td>
    </tr>
</table>
</div>
</body>
</html>
